@import url(../../base/shared-style.scss);

.container .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;

    .modal-dialog {
        max-width: 1024px;
        margin-top: 0;
    }

    .modal-content {
        border-radius: 0;
        background-color: #EEE5F6;
    }

    .modal-header {
        margin: 0.5rem 0.5rem;
        padding: 0.25rem 0.25rem;
        background-color: rgb(67, 0, 119);
        border-radius: 0;
        position: relative;

        h5 {
            width: 100%;
            text-align: center;
            color: white;
            font-weight: bold;

            span {
                color: rgb(200, 215, 128);
            }
        }

        .close {
            position: absolute;
            right: 6px;
            font-style: italic;
            text-shadow: none;
            opacity: 1;
            padding: 0;
            border-radius: 0.25rem;
            border: none;

            span {
                background-color: #AAAAAA;
                color: white;
                font-weight: lighter;
                border-radius: 0.25rem;
                display: block;
                width: 29px;
                height: 29px;
                text-align: center;
                box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
            }
        }
    }

    .modal-body {
        padding: 0 50px 10px 50px;
    }
}

.form-group {
    margin: 0.5rem 0;

    label {
        color: rgb(67, 0, 119);
    }
}

.separator {
    background-color: rgb(67, 0, 119);
    height: 2px;
    margin: 0.2rem 0;
}


.single-file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .info {
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: 5px;
        text-decoration: underline;
        text-decoration-color: blue;
        cursor: pointer;
    }

    .name {
        font-size: 14px;
        font-weight: 500;
        color: blue;
        margin: 0;
    }

    .size {
        font-size: 12px;
        font-weight: 500;
        color: blue;
        margin: 0;
        margin-bottom: 0.25rem;
    }

    .delete {
        display: flex;
        margin-left: 0.5rem;
        cursor: pointer;
        align-self: flex-end;
        align-items: center;
        padding: 5px;
    }
}

.choose-image-wrapper {
    .file-wrapper {
        background-color: #CCB4E0;
        height: auto;
        display: block;
        padding: 10px;

        .container {
            display: flex;
            justify-content: center;
            text-align: center;
            height: 70px;
            position: relative;
            align-items: center;
        }

        input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
        }

        .caption {
            color: rgb(49, 49, 49);
            font-weight: bold;
        }

    }
}

.info {
    width: auto;

    .info-wrapper {
        margin-top: 30px;

        .info-text {
            color: rgb(67, 0, 119);
        }

        .info-value {
            margin-left: 15px;
            color: rgb(67, 0, 119);
        }

        .info-col {
            margin-bottom: 5px;
        }


    }
}



.btn-secondary {
    background-color: rgb(67, 0, 119);
    font-weight: bold;
    font-size: 1.2rem;
    box-shadow: 5px 5px 4px rgba(67, 0, 119, 0.4);
    width: 400px;
    height: 45px;

    &:hover {
        background-color: rgb(42, 3, 71);
    }
}

.btn-danger {
    position: absolute;
    background-color: #8A0311;
    font-size: 1.1rem;
    font-weight: bold;
    box-shadow: 5px 5px 4px rgba(0, 117, 117, 0.4);
    right: 0;
    width: 130px;
    padding: 2px;
    height: 45px;
}

.modal-footer {
    height: auto;
    background-color: #D1B9E8;

    .info-wrapper {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0;
        justify-content: space-between;

        .info-col {
            margin: 0;
            color: white;
            width: auto;
            display: flex;

            .info-text {
                color: white;
                width: auto;
                margin-right: 15px;
                margin-left: 10px;
            }

            .info-value {
                color: white;
                margin: 0;
                margin-right: 10px;
            }
        }
    }
}



    @media (max-width: 992px) {
        .modal-footer {
            .info-wrapper {
                width: 100%!important;
                display: flex;
                flex-wrap: wrap;
            }
        
            .info-col {
                width: 50%!important;
                flex: 0 0 auto;
            }
    
            .info-text{
                width: 30%!important;
            }
        }
    
        .btn-secondary {
            display: block;
            width: 100%;
        }

        .btn-danger {
            display: block;
            width: 100%;
            position: static;
            margin: 20px 0;
            font-weight: bold;
            font-size: 1.2rem;
            padding: .375rem .75rem;
        }
    }

    @media (max-width: 768px) {
        .btn-secondary {
            display: block;
            width: 100%;
        }

        .btn-danger {
            display: block;
            width: 100%;
            position: static;
            margin: 20px 0;
            font-weight: bold;
            font-size: 1.2rem;
            padding: .375rem .75rem;
        }

        .modal-footer {
            .info-wrapper {
                width: 100%!important;
                display: flex;
                flex-direction: column;
            }
        
            .info-col {
                width: 100%!important;
                flex: 0 0 auto;
            }
    
            .info-text{
                width: 20%!important;
            }
        }
    }

    @media (max-width: 576px) {
        .modal-footer {
            .info-text{
                width: 25%!important;
            }
        }
    }