<div class="wrapper">
    <div class="title-create">
        <h4 class="add-edit" *ngIf="!userId">Add: </h4>
        <h4 *ngIf="!userId">Create New Investor</h4>
        <h4 class="add-edit" *ngIf="userId">Update: </h4>
        <h4 *ngIf="userId">{{userId}}</h4>
        <button (click)="goToPrev()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">x</span>
        </button>
    </div>
    <form class="form" [formGroup]="addInvestorForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
        <div class="content-wrap container-fluid text-left box-wrapper">
            <div class="row">
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" class="form-control" id="name"
                        aria-describedby="investor Name" autocomplete="off" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['name'].touched || submitted) && addInvestorForm.controls['name'].errors?.['required']">
                        Name is required
                    </span>
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="nickname">Nickname</label>
                    <input formControlName="nickname" type="text" class="form-control" id="nickname"
                        aria-describedby="investor Nick Name" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['nickname'].touched || submitted) && addInvestorForm.controls['nickname'].errors?.['required']">
                        NickName is required
                    </span>
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="investorPhone">Phone</label>
                    <input formControlName="phone" type="tel" class="form-control" id="investorPhone"
                        aria-describedby="investor Phone" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['phone'].touched || submitted) && addInvestorForm.controls['phone'].errors?.['required']">
                        Phone is required
                    </span>
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="investorEmail">Email Address</label>
                    <input formControlName="email" type="email" class="form-control" id="investorEmail"
                        aria-describedby="investor Email Address" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['email'].touched || submitted) && addInvestorForm.controls['email'].errors?.['required']">
                        Email Address is required
                    </span>
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['email'].touched || submitted) && addInvestorForm.errors?.['invalidEmail']">
                        Email Address is Invalid
                    </span>
                </div>
                <div class="col-lg-6 col-sm-12 form-group">
                    <label for="investorAddress">Address</label>
                    <textarea formControlName="address" class="form-control" id="investorAddress"
                        aria-describedby="investor Address" rows="4" cols="50"></textarea>
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="postcode">Zip Code</label>
                    <input formControlName="postcode" type="text" class="form-control" id="postcode"
                        aria-describedby="investor Zip Code" />
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="city">City</label>
                    <input formControlName="city" type="text" class="form-control" id="city"
                        aria-describedby="investor city" />
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="country">Select Country:</label>
                    <select formControlName="country" class="form-control form-select" id="country" name="country"
                        aria-describedby="investor country" autocomplete="off">
                        <option>Australia</option>
                        <option>Denmark</option>
                        <option>Germany</option>
                        <option>Greece</option>
                        <option>India</option>
                        <option>Philippines</option>
                        <option>Spain</option>
                        <option>Thailand</option>
                        <option>USA</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="status">Investor Status:</label>
                    <select formControlName="status" class="form-control form-select" id="status" name="status"
                        aria-describedby="investor status">
                        <option value="active" selected>ACTIVE</option>
                        <option value="pending">PENDING</option>
                        <option value="disabled">DISABLED</option>
                    </select>
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="Facebook">Facebook</label>
                    <input formControlName="facebook" type="text" class="form-control" id="Facebook"
                        aria-describedby="investor Facebook" />
                </div>
                <div class="col-lg-3 col-md-6 form-group">
                    <label for="Passport">Passport #</label>
                    <input formControlName="passport" type="text" class="form-control" id="Passport"
                        aria-describedby="investor Passport" />
                </div>
            </div>
            <hr class="separator">
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                    <label for="BeneficiaryName">Beneficiary Name</label>
                    <input formControlName="beneficiaryName" type="text" class="form-control" id="BeneficiaryName"
                        aria-describedby="Beneficiary Name" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['beneficiaryName'].touched || submitted) && addInvestorForm.controls['beneficiaryName'].errors?.['required']">
                        Beneficiary Name is required
                    </span>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                    <label for="BeneficiaryEmail">Beneficiary Email</label>
                    <input formControlName="beneficiaryEmail" type="email" class="form-control" id="BeneficiaryEmail"
                        aria-describedby="Beneficiary Email" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['beneficiaryEmail'].touched || submitted) && addInvestorForm.controls['beneficiaryEmail'].errors?.['required']">
                        Email Address is required
                    </span>
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['beneficiaryEmail'].touched || submitted) && addInvestorForm.errors?.['invalidBeneficiaryEmail']">
                        Email Address is Invalid
                    </span>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                    <label for="BeneficiaryPhone">Beneficiary Phone</label>
                    <input formControlName="beneficiaryPhone" type="tel" class="form-control" id="BeneficiaryPhone"
                        aria-describedby="Beneficiary Phone" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['beneficiaryPhone'].touched || submitted) && addInvestorForm.controls['beneficiaryPhone'].errors?.['required']">
                        Beneficiary Phone is required
                    </span>
                </div>
            </div>
            <hr class="separator">
            <div class="row">
                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                    <label for="transferType">Transfer Type</label>
                    <select formControlName="transferType" class="form-control form-select" id="transferType"
                        name="transferType" aria-describedby="transferType">
                        <option selected disabled>Select Transfer Type</option>
                        <option>Envelope</option>
                        <option>Thai Bank</option>
                        <option>Foreign Bank</option>
                        <option>Crypto Wallet</option>
                        <option>Western Union</option>
                        <option>WISE</option>
                        <option>Other Transfer</option>
                    </select>
                </div>
                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                    <label for="currency">Currency</label>
                    <select formControlName="currency" class="form-control form-select" id="currency" name="currency"
                        aria-describedby="investor currency">

                        <option selected disabled>Select Currency</option>
                        <option>AUD</option>
                        <option>DKK</option>
                        <option>EUR</option>
                        <option>INR</option>
                        <option>PHP</option>
                        <option>THB</option>
                        <option>USD</option>
                    </select>
                </div>
                <div class="col-lg-4 col-xl-6 col-sm-12 form-group">
                    <label for="transferInfo">Money Transfer Information</label>
                    <textarea formControlName="reason" class="form-control" id="transferInfo"
                        aria-describedby="Money Transfer Information" rows="4" cols="50"></textarea>
                </div>

            </div>
            <hr class="separator">

            <div class="row">
                <!-- Upload File-->
                <div class="col-lg-10 col-sm-12">
                    <div class="row">
                        <div class="col-md-5 form-group choose-image-wrapper">
                            <label for="passportImages">Passport Image</label>
                            <div class="file-wrapper">
                                <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                                    <input formControlName="passportImages" type="file" id="passportImages" multiple
                                        accept="image/*" (change)="fileBrowseHandler($event.target)">
                                    <span class="caption">Drag and drop files here</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7 form-group">
                            <label>Passport Image</label>
                            <div class="files-list">
                                <div class="single-file" *ngFor="let file of files; let i = index">
                                    <div class="info">
                                        <h4 class="name">
                                            {{ file?.name }}
                                        </h4>
                                        <p class="size">
                                            ({{ formatBytes(file?.size) }})
                                        </p>
                                        <!-- <app-progress [progress]="file?.progress"></app-progress> -->
                                    </div>
                                    <div class="delete" (click)="deleteFile(i)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                                            viewBox="0 0 14 18">
                                            <path fill="#ff0000" fill-rule="nonzero"
                                                d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Pin Code -->
                <div class="col-lg-2 col-sm-4 form-group">
                    <label for="pincode">Pin Code</label>
                    <input formControlName="pincode" type="text" class="form-control" id="pincode"
                        aria-describedby="pincode" />
                    <span class="text-danger"
                        *ngIf="(addInvestorForm.controls['pincode'].touched || submitted) && addInvestorForm.controls['pincode'].errors?.['required']">
                        Pin Code is Required
                    </span>
                </div>
            </div>
            <hr class="separator">
            <div class="row">
                <div class="col-lg-8 col-sm-12  mgn-btm-10 text-center">
                    <button type="submit" class="btn btn-secondary">Save Investor</button>
                </div>
                <div class="col-sm-12 col-lg-4 text-center">
                    <button [disabled]="!userId" type="button" class="btn btn-danger" (click)="deleteInvestor(userId)">Delete
                        Investor</button>
                </div>
            </div>


            <div class="row footer-info">

                <div class="col-lg-3 col-sm-6 d-flex">
                    <span class="info-text">Create Date: </span>
                    <span class="info-value">01-Feb-2023</span>
                </div>
                <div class="col-lg-3 col-sm-6 d-flex">
                    <span class="info-text">Edit Date</span>
                    <span class="info-value">12-August-2023</span>
                </div>

                <div class="col-lg-3 col-sm-6 d-flex">
                    <span class="info-text">Create By</span>
                    <span class="info-value">Torben</span>
                </div>
                <div class="col-lg-3 col-sm-6 d-flex">
                    <span class="info-text">Edit By</span>
                    <span class="info-value">Bee</span>
                </div>

            </div>
        </div>
    </form>
</div>