<div class="my-investment-form">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title "><span>{{ section }}: </span>{{ title }}</h5>
                        <button type="button" class="info-btn" data-dismiss="modal" aria-label="Info"
                            (click)="goTo('/')">
                            <span aria-hidden="true">i</span>
                        </button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="goToPrev()">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="myInvestmentForm" (ngSubmit)="onSubmit()" autocomplete="off"
                            novalidate>
                            <div class="row">
                                <div class="col-xl-5 col-lg-6 form-group">
                                    <label for="investmentNo">Investment</label>
                                    <select formControlName="investmentNo" class="form-control form-select"
                                        id="investmentNo" aria-describedby="investmentNo">
                                        <option [value]="item._id" *ngFor="let item of investments">{{ item._id}} {{
                                            item.explanation }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xl-5 col-lg-6 form-group">
                                    <label for="investorName">Investor Name</label>
                                    <input formControlName="investorName" type="text" class="form-control text-start"
                                        id="investorName" aria-describedby="investorName" readonly/>
                                    <!-- <select formControlName="investorName" class="form-control form-select"
                                        id="investorName" #transactionFrom aria-describedby="investorName" readonly>
                                        <option [value]="item._id" *ngFor="let item of investors">{{ item._id}}
                                        </option>
                                    </select> -->
                                </div>
                                <div class="col-xl-2 col-lg-4 form-group">
                                    <label for="amountInvested">Amount</label>
                                    <input formControlName="amountInvested" type="text" class="form-control text-end"
                                        id="amountInvested" (input)="onInputChange($event)"
                                        (keydown)="onlyNumbers($event)" aria-describedby="amountInvested" />
                                </div>
                            </div>
                            <hr class="separator m-0">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="transactionFrom">Transfer From</label>
                                    <input formControlName="transactionFrom" type="text" class="form-control text-start"
                                        id="transactionFrom" aria-describedby="transactionFrom" />
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="transactionTo">Transfer To</label>
                                    <input formControlName="transactionTo" type="text" class="form-control text-start"
                                        id="transactionTo" aria-describedby="transactionTo" />
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="transferDate">Transfer Date</label>
                                    <app-date-time-picker [inputDatetimeFormat]="'d/MM/yyyy'"
                                        formControlName="transferDate" name="transferDate"></app-date-time-picker>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="transactionNo">Transaction No</label>
                                    <input formControlName="transactionNo" type="text" class="form-control text-start"
                                        id="transactionNo" aria-describedby="transactionNo" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 form-group choose-image-wrapper">
                                    <label for="documents">Reciepts</label>
                                    <div class="file-wrapper">
                                        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                                            <input formControlName="documents" type="file" id="documents" multiple
                                                accept="image/*" (change)="fileBrowseHandler($event.target)">
                                            <span class="caption">Drag and drop files here</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-7 form-group">
                                    <label>Receipts/Contracts</label>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files; let i = index">
                                            <div class="info">
                                                <h4 class="name">
                                                    {{ file?.name }}
                                                </h4>
                                                <p class="size">
                                                    ({{ formatBytes(file?.size) }})
                                                </p>
                                                <!-- <app-progress [progress]="file?.progress"></app-progress> -->
                                            </div>
                                            <div class="delete" (click)="deleteFile(i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                                                    viewBox="0 0 14 18">
                                                    <path fill="#ff0000" fill-rule="nonzero"
                                                        d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="separator m-0">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="investType">Investment Type</label>
                                    <select formControlName="investType" (change)="onSelectChange($event)"
                                        class="form-control form-select" id="investType" aria-describedby="investType">
                                        <option>Monthly Profit</option>
                                        <option>Annual Profit</option>
                                        <option>One-time Profit</option>
                                        <option>Mixed</option>
                                    </select>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="profitMonthly">Profit pr Month</label>
                                    <input formControlName="profitMonthly" type="text" class="form-control text-end"
                                        (input)="onInputChange($event)" id="profitMonthly"
                                        aria-describedby="profitMonthly" />
                                    <span class="text-danger"
                                        *ngIf="(myInvestmentForm.controls['profitMonthly'].touched || submitted) &&(myInvestmentForm.errors?.['monthlyExceed'])">
                                        Profit pr Month cannot be less than 0.01% or greater than 100.00%.
                                    </span>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="profitYearly">Profit pr Year</label>
                                    <input formControlName="profitYearly" type="text" class="form-control text-end"
                                        (input)="onInputChange($event)" id="profitYearly"
                                        aria-describedby="profitYearly" />
                                    <span class="text-danger"
                                        *ngIf="(myInvestmentForm.controls['profitYearly'].touched || submitted) && (myInvestmentForm.errors?.['yearlyExceed'])">
                                        Profit pr Year cannot be less than 0.01% or greater than 100.00%.
                                    </span>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="profitEnd">One Time Profit</label>
                                    <input formControlName="profitEnd" type="text" class="form-control text-end"
                                        (input)="onInputChange($event)" id="profitEnd" aria-describedby="profitEnd" />
                                    <span class="text-danger"
                                        *ngIf="(myInvestmentForm.controls['profitEnd'].touched || submitted) && (myInvestmentForm.errors?.['endExceed'])">
                                        Profit by End cannot be less than 0.01% or greater than 100.00%.
                                    </span>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="firstProfitDate">First profit Date</label>
                                    <app-date-time-picker [inputDatetimeFormat]="'d/MM/yyyy'"
                                        formControlName="firstProfitDate" name="firstProfitDate"></app-date-time-picker>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="lastProfitDate">Last profit Date</label>
                                    <app-date-time-picker [inputDatetimeFormat]="'d/MM/yyyy'"
                                        formControlName="lastProfitDate" name="lastProfitDate"></app-date-time-picker>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="payBackDate">Pay Back Date</label>
                                    <app-date-time-picker [inputDatetimeFormat]="'d/MM/yyyy'"
                                        formControlName="payBackDate" name="payBackDate"></app-date-time-picker>
                                </div>
                            </div>
                            <hr class="separator m-0">
                            <div class="row">
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="torbenMonthly">Torben pr Month</label>
                                    <input formControlName="torbenMonthly" type="text" class="form-control text-end"
                                        (input)="onInputChange($event)" id="torbenMonthly"
                                        aria-describedby="torbenMonthly" />
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="torbenYearly">Torben pr Year</label>
                                    <input formControlName="torbenYearly" type="text" class="form-control text-end"
                                        (input)="onInputChange($event)" id="torbenYearly"
                                        aria-describedby="torbenYearly" />
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-6 form-group">
                                    <label for="torbenEnd">Torben One Time</label>
                                    <input formControlName="torbenEnd" type="text" class="form-control text-end"
                                        (input)="onInputChange($event)" id="torbenEnd" aria-describedby="torbenEnd" />
                                </div>
                                <div class="col-xl-12">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea formControlName="description" class="form-control" id="description"
                                            aria-describedby="Money Transfer Description" rows="4" cols="50"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center m-3 position-relative">
                                <button type="submit" class="btn btn-secondary">SAVE MY INVESTMENT</button>
                                <button type="button" class="btn btn-danger"
                                    [class]="{'disabled': myInvestmentId === undefined}" data-dismiss="modal"
                                    (click)="deleteTransaction(myInvestmentId)">DELETE
                                    TRANSACTION</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="info-wrapper">
                            <div class="info-col">
                                <span class="info-text">Create Date </span>
                                <span class="info-value">{{ createdDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Create By</span>
                                <span class="info-value">{{ createdBy }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update Date</span>
                                <span class="info-value">{{ modifiedDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update By</span>
                                <span class="info-value">{{ modifiedBy }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>