<div class="log-form">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title "><span>Login</span></h5>
                        <button type="button" (click)="goToPrev()" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="logInForm" (ngSubmit)="onSubmit()" autocomplete="off"
                            novalidate>
                            <div class="info d-flex flex-row justify-content-between">
                                <div class="info-wrapper d-flex flex-column align-center">
                                    <div class="info-col">
                                        <span class="info-text">Date</span>
                                        <span class="info-value">{{ date }}</span>
                                    </div>
                                </div>
                                <div class="info-wrapper d-flex flex-column align-center">
                                    <div class="info-col">
                                        <span class="info-text">Time</span>
                                        <span class="info-value">{{ time }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row d-flex flex-row justify-content-center">
                                <label for="pincode" class="text-center">Enter Pin Code</label>
                                <div class="col-sm-4">
                                    <input formControlName="pincode" class="form-control" type="password" id="pincode"
                                        name="pincode" aria-describedby="pincode" />
                                </div>
                                <span class="text-danger text-center fw-bold"
                                    *ngIf="(logInForm.controls['pincode'].touched || submitted) && logInForm.controls['pincode'].errors?.['pincode']">
                                    PINCODE IS WRONG, TRY AGAIN
                                </span>
                                <span class="text-danger text-center fw-bold"
                                    *ngIf="(logInForm.controls['pincode'].touched || submitted) && logInForm.controls['pincode'].errors?.['pincode']">
                                    THIS ACCOUNT IS FROZEN<br>
                                    PLEASE CONTACT TORBEN OR BEE
                                </span>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-block btn-secondary">LOGIN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>