<div class="log-list">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">Log System</h5>\
                        <button type="button" (click)="goForm()" class="close new-log" data-dismiss="modal"
                            aria-label="New Log">
                            <span aria-hidden="true">New Log</span>
                        </button>
                        <button type="button" (click)="goToPrev()" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="logSearchForm" autocomplete="off" novalidate>
                            <div class="row">
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-6 mb-2">
                                            <div class="form-group row">
                                                <label for="fromDate" class="col-sm-3 col-form-label">Date</label>
                                                <div class="col-sm-9">
                                                    <div class="row multi-date">
                                                        <div class="date fromDate pl-0">
                                                            <app-date-time-picker [inputDatetimeFormat]="'d/MM/yyyy'"
                                                                formControlName="fromDate"
                                                                name="fromDate"></app-date-time-picker>
                                                        </div>
                                                        <div class="col-form-label text px-0 w-auto">
                                                            <span>to</span>
                                                        </div>
                                                        <div class="date toDate pr-0">
                                                            <app-date-time-picker [inputDatetimeFormat]="'d/MM/yyyy'"
                                                                formControlName="toDate"
                                                                name="toDate"></app-date-time-picker>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="form-group row">
                                                <label for="investorName"
                                                    class="col-sm-3 col-form-label">Customer</label>
                                                <div class="col-sm-9">
                                                    <select formControlName="investorName"
                                                        class="form-control form-select" id="investorName"
                                                        name="investorName" aria-describedby="investorName">
                                                        <option></option>
                                                        <option [value]="item._id" *ngFor="let item of customers">{{
                                                            item._id}}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="form-group row">
                                                <label for="logType" class="col-sm-3 col-form-label">Type</label>
                                                <div class="col-sm-9">
                                                    <select formControlName="logType" class="form-control form-select"
                                                        id="logType" name="logType" aria-describedby="type">
                                                        <option></option>
                                                        <option>ADAM</option>
                                                        <option>BALANCE</option>
                                                        <option>INVESTOR</option>
                                                        <option>INVESTMENT</option>
                                                        <option>MY INVESTMENT</option>
                                                        <option>EMAIL</option>
                                                        <option>LOGIN</option>
                                                        <option>OTHER</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 mb-2">
                                            <div class="form-group row">
                                                <label for="investment"
                                                    class="col-sm-3 col-form-label">Investment</label>
                                                <div class="col-sm-9">
                                                    <select formControlName="investment" class="form-control form-select"
                                                        id="investment" name="investment" aria-describedby="investment">
                                                        <option></option>
                                                        <option [value]="item._id" *ngFor="let item of investments">[{{
                                                            item._id}}] {{ item.explanation }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 mb-2 d-flex flex-column justify-content-between">
                                    <button type="button" (click)="onSearch()"
                                        class="btn btn-block btn-secondary">Search Log</button>
                                    <button type="button" (click)="onReset()"
                                        class="btn btn-block btn-secondary">Reset</button>
                                </div>
                            </div>
                        </form>
                        <div class="div-table mb-3">
                            <div class="trow theader">
                                <div class="tcol" (click)="orderTable('date')">Date</div>
                                <div class="tcol" (click)="orderTable('time')">Time</div>
                                <div class="tcol" (click)="orderTable('logType')">Type</div>
                                <div class="tcol" (click)="orderTable('description')">Description</div>
                                <div class="tcol" (click)="orderTable('investorName')">Customer</div>
                                <div class="tcol" (click)="orderTable('investmentNo')">Inv No</div>
                                <div class="tcol" (click)="orderTable('logBy')">By</div>
                            </div>
                            <div *ngFor="let item of items" class="trow" (click)="goForm(item._id)">
                                <div class="tcol">{{ item.date }}</div>
                                <div class="tcol">{{ item.time }}</div>
                                <div class="tcol">{{ item.logType }}</div>
                                <div class="tcol">{{ item.description }}</div>
                                <div class="tcol">{{ item.investorName }}</div>
                                <div class="tcol">{{ item.investmentNo }}</div>
                                <div class="tcol">{{ item.logBy }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>