<div class="add-money-env">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title "><span>Add Money</span> to <span> Mark </span> via <span>Envelop</span>
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="goToPrev()">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="payProfitForm" (ngSubmit)="onSubmit()" autocomplete="off"
                            novalidate>
                            <div class="row">
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="profitMonth">Profit Month</label>
                                    <app-month-selector formControlName="profitMonth" [numberOfMonth]="6"
                                        [startMonth]="currentMonth" (selectedMonth)="selectOption($event)"
                                        [sectionHidden]="true"></app-month-selector>
                                    <span class="text-danger"
                                        *ngIf="(payProfitForm.controls['profitMonth'].touched || submitted) && payProfitForm.controls['profitMonth'].errors?.['required']">
                                        Profit Month is required
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="deposit">Add Money</label>
                                    <input formControlName="deposit" type="text" class="form-control text-end"
                                        id="deposit" (input)="onInputChange($event)" (keydown)="onlyNumbers($event)"
                                        aria-describedby="deposit" />
                                    <span class="text-danger"
                                        *ngIf="(payProfitForm.controls['deposit'].touched || submitted) && payProfitForm.controls['deposit'].errors?.['required']">
                                        Deposit is required
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="transferDate">Transfer/Pay Date</label>
                                    <ngbd-datepicker-adapter formControlName="transferDate"></ngbd-datepicker-adapter>
                                    <span class="text-danger"
                                        *ngIf="(payProfitForm.controls['transferDate'].touched || submitted) && payProfitForm.controls['transferDate'].errors?.['required']">
                                        Transfer/Pay Date is required
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="transferMethod">Transfer Type</label>
                                    <select formControlName="transferMethod" class="form-control form-select"
                                        id="transferMethod" aria-describedby="transferMethod"
                                        (change)="checkSelect($event)">
                                        <option>Envelope</option>
                                        <option>Thai Bank</option>
                                        <option>Foreign Bank</option>
                                        <option>Crypto Wallet</option>
                                        <option>Western Union</option>
                                        <option>WISE</option>
                                        <option>Other Transfer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-9 col-lg-8 form-group">
                                    <label for="description">Description</label>
                                    <textarea formControlName="description" class="form-control" id="description"
                                        aria-describedby="Money Transfer Description" rows="4" cols="50"></textarea>
                                </div>
                                <div class="col-xl-3 col-lg-4 form-group">
                                    <label for="emailDate">Email Sent</label>
                                    <input formControlName="emailDate" type="text" class="form-control" id="emailDate"
                                        aria-describedby="emailDate" readonly />
                                    <button type="button" class="btn btn-primary mt-2" data-dismiss="modal"
                                        (click)="deleteTransaction(userId)">SEND EMAIL</button>
                                </div>
                            </div>
                            <div class="row my-5">
                                <div
                                    class="mcol-xl-5 mcol-lg-4 mcol-md-3 mcol-sm-2 d-flex justify-content-center position-relative my-1">
                                    <hr class="separator line">
                                    <button type="button" (click)="open('balance')" class="btn btn-success"
                                        data-dismiss="modal">Balance</button>
                                </div>
                                <div
                                    class="mcol-xl-5 mcol-lg-4 mcol-md-3 mcol-sm-2 d-flex justify-content-center position-relative my-1">
                                    <hr class="separator line">
                                    <button type="button" (click)="open('balance-investor')" class="btn btn-success"
                                        data-dismiss="modal">Investor
                                        Info</button>
                                </div>
                                <div
                                    class="mcol-xl-5 mcol-lg-4 mcol-md-3 mcol-sm-2 d-flex justify-content-center position-relative my-1">
                                    <hr class="separator line">
                                    <button type="button" (click)="open('hidden')" class="btn btn-success exist"
                                        data-dismiss="modal">Hidden
                                        Text</button>
                                </div>
                                <div
                                    class="mcol-xl-5 mcol-lg-4 mcol-md-3 mcol-sm-2 d-flex justify-content-center position-relative my-1">
                                    <hr class="separator line">
                                    <button type="button" (click)="open('copy-paste')" class="btn btn-success"
                                        data-dismiss="modal">Copy
                                        Paste</button>
                                </div>
                                <div
                                    class="mcol-xl-5 mcol-lg-4 mcol-md-3 mcol-sm-2 d-flex justify-content-center position-relative my-1">
                                    <hr class="separator line">
                                    <button type="button" (click)="open('balance-log')" class="btn btn-success"
                                        data-dismiss="modal">Show Log</button>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center m-3 position-relative">
                                <button type="submit" class="btn btn-secondary">ADD MONEY</button>
                                <button type="button" class="btn btn-danger" *ngIf="balanceId !== 'new'"
                                    [class]="{'disabled': balanceId === 'new'}" data-dismiss="modal"
                                    (click)="deleteTransaction(balanceId)">DELETE</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="info-wrapper">
                            <div class="info-col">
                                <span class="info-text">Create Date </span>
                                <span class="info-value">{{ createdDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Create By</span>
                                <span class="info-value">{{ createdBy }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update Date</span>
                                <span class="info-value">{{ modifiedDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update By</span>
                                <span class="info-value">{{ modifiedBy }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-drag-dialog [params]="dialogParam">
</app-drag-dialog>