.balance {
    background-color: white;
}

.container {
    padding: 0;

    .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;
    
        .modal-dialog {
            max-width: 1024px;
            margin: 0;
        }
    
        .modal-content {
            border-radius: 0;
        }
    
        .modal-header {
            margin: 0;
            padding: 0;
            background-color: rgb(71, 121, 6);
            border-radius: 0;
            position: relative;
    
            h5 {
                width: 100%;
                text-align: center;
                color: white;
                font-weight: bold;
    
                span {
                    font-style: italic;
                    font-weight: normal;
                }
            }
    
            .close {
                position: absolute;
                right: 0;
                font-style: italic;
                text-shadow: none;
                opacity: 1;
                padding: 0;
                border-radius: 0.25rem;
                border: none;
    
                span {
                    background-color: #AAAAAA;
                    color: white;
                    font-weight: bold;
                    border-radius: 0.25rem;
                    display: block;
                    width: 29px;
                    line-height: 29px;
                    text-align: center;
                    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
                }
            }
        }
    
        .modal-body {
            padding: 0;
            max-height: 560px;
            overflow-y: auto;
    
            .btn-secondary {
                background-color: rgb(31, 80, 122);
                font-weight: bold;
                box-shadow: 5px 5px 4px rgba(31, 80, 122, 0.4);
                width: 100%;
    
                &:hover {
                    background-color: rgb(19, 48, 73);
                }
            }
    
            .div-table {
                --bs-table-bg: none;
                border-collapse: collapse;
                border-spacing: 2px;
                overflow-x: auto;
                position: relative;
    
                .close {
                    position: absolute;
                    right: 6px;
                    font-style: italic;
                    text-shadow: none;
                    opacity: 1;
                    padding: 0;
                    border-radius: 0.25rem;
                    border: none;
        
                    span {
                        background-color: #AAAAAA;
                        color: white;
                        font-weight: lighter;
                        border-radius: 0.25rem;
                        display: block;
                        width: 29px;
                        height: 29px;
                        text-align: center;
                        box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
                    }
                }
    
                .trow {
                    display: table-row;
                    border: 1px solid rgba(0, 0, 0, 0.7);
    
                    .tcol {
                        display: table-cell;
                        vertical-align: middle;
                        padding: 10px 8px;
                        border: 1px solid rgba(0, 0, 0, 0.7);
                        text-align: right;
                    }
    
                    &.theader {
                        text-align: center;
                        color: white;
                        height: 40px;
                        font-weight: bold;
                        cursor: pointer;
                        font-family: 'Arial Narrow';
    
                        .tcol {
                            text-align: center;
                        }
                    }
                }
            }
    
            .profit-balance {
                margin: 0;
                display: flex;
                justify-content: center;
    
                .ttitle {
                    color: #456E02;
                    font-size: 14pt;
                }
    
                .div-table {
                    .trow {
                        background-color: #F2FFDD;
    
                        .tcol {
                            text-align: center;
                            line-height: 1;
    
                            &:nth-child(1) {
                                white-space: nowrap;
                            }
    
                            &:nth-child(2) {
                                text-align: left;
                            }
    
                            &:nth-child(3) {
                                text-align: right;
                                white-space: nowrap;
                            }
    
                            &:nth-child(4) {
                                text-align: right;
                                white-space: nowrap;
                            }
    
                            &:nth-child(5) {
                                text-align: right;
                                white-space: nowrap;
                            }
    
                            &:nth-child(7) {
                                white-space: nowrap;
                            }
                        }
    
                        &.minus {
                            background-color: #FFDCE0;
    
                            .tcol {
                                &:nth-child(4) {
                                    font-weight: bold;
                                }
                            }
                        }
    
                        &.new {
                            background-color: #FFEB9C;
                        } 
    
                        &.theader {
                            background-color: #456E02;
                            font-size: 11pt;
                            line-height: 1;
                            font-family: 'Arial Narrow';
    
                            .tcol {
                                text-align: center;
                                line-height: 1;
                                color: white;
                                text-decoration: none;
    
                                &:nth-child(1) {
                                    width: 9%;
                                }
    
                                &:nth-child(2) {
                                    width: 36%;
                                    text-align: left;
                                }
    
                                &:nth-child(3) {
                                    width: 10%;
                                    text-align: right;
                                }
    
                                &:nth-child(4) {
                                    width: 10%;
                                    text-align: right;
                                }
    
                                &:nth-child(5) {
                                    width: 11%;
                                }
    
                                &:nth-child(6) {
                                    width: 12%;
                                }
    
                                &:nth-child(7) {
                                    width: 12%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
