.log-entry {
    background-color: white;
}

.form-control {
    border-radius: 0;

    &:focus {
        border-color: rgb(71, 121, 6);
        color: black;
        box-shadow: 0 0 0 0.2rem rgba(71, 121, 6, 0.25);
    }
}

select {
    height: 250px;
}


.container {
    padding: 0;

    .modal {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        z-index: 1;
        display: block;

        .modal-dialog {
            max-width: 768px;
            margin: 0;
        }

        .modal-content {
            border-radius: 0;
            background-color: #E9F5DD;
        }

        .modal-header {
            margin: 0;
            padding: 0;
            background-color: rgb(71, 121, 6);
            border-radius: 0;
            position: relative;

            h5 {
                width: 100%;
                text-align: center;
                color: white;
                font-weight: bold;

                span {
                    color: #B5DF78;
                }
            }

            .close {
                position: absolute;
                right: 6px;
                font-style: italic;
                text-shadow: none;
                opacity: 1;
                padding: 0;
                border-radius: 0.25rem;
                border: none;

                span {
                    background-color: #AAAAAA;
                    color: white;
                    font-weight: bold;
                    border-radius: 0.25rem;
                    display: block;
                    width: 29px;
                    line-height: 29px;
                    text-align: center;
                    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
                }
            }

            .btn-success {
                position: absolute;
                right: 46px;
                height: 29px;
                padding: 0 5px;
                background-color: rgb(100, 183, 5);
                font-weight: bold;
                border: 1px solid rgb(100, 183, 5);
                border-radius: 8px;
                box-shadow: 5px 5px 4px rgba(100, 183, 5, 0.2);


                &:hover {
                    background-color: rgb(69, 126, 3);
                }
            }
        }

        .modal-body {
            padding: 0 30px 10px 30px;
        }
    }
}

label {
    color: rgb(71, 121, 6);
}

.form-group {
    margin: 1rem 0;
}