<div class="copy-paste-area">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">{{ user.name }} Copy Paste Area</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="onClose()">
                            <span aria-hidden="true">X</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label for="text_1">Copy Paste Areas</label>
                        <div class="row">
                            <div class="col-md-10 form-group mt-1">
                                <input type="text" class="form-control text-start" id="text_1"
                                    aria-describedby="profitMonth" (change)="getValue($event)"
                                    [value]="values[0]??''" />
                            </div>
                            <div class="col-md-2 d-flex align-center form-group mt-1">
                                <button type="button" (click)="copyToClipboard(values[0]??'')" class="btn btn-success"
                                    data-dismiss="modal">Copy</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 form-group">
                                <input type="text" class="form-control text-start" id="text_2"
                                    aria-describedby="deposit" (change)="getValue($event)" [value]="values[1]??''" />
                            </div>
                            <div class="col-md-2 d-flex align-center form-group">
                                <button type="button" (click)="copyToClipboard(values[1]??'')" class="btn btn-success"
                                    data-dismiss="modal">Copy</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 form-group">
                                <input type="text" class="form-control text-start" id="text_3"
                                    aria-describedby="transferDate" (change)="getValue($event)"
                                    [value]="values[2]??''" />
                            </div>
                            <div class="col-md-2 d-flex align-center form-group">
                                <button type="button" (click)="copyToClipboard(values[2]??'')" class="btn btn-success"
                                    data-dismiss="modal">Copy</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 form-group">
                                <textarea class="form-control" (change)="getValue($event)" id="text_4"
                                    aria-describedby="Money Transfer Description" rows="4"
                                    cols="50">{{ values[3]??''}}</textarea>
                            </div>
                            <div class="col-md-2 d-flex align-center form-group">
                                <button type="button" (click)="copyToClipboard(values[3]??'')" class="btn btn-success"
                                    data-dismiss="modal">Copy</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 form-group">
                                <textarea class="form-control" (change)="getValue($event)" id="text_5"
                                    aria-describedby="Money Transfer Description" rows="4"
                                    cols="50">{{ values[4]??'' }}</textarea>
                            </div>
                            <div class="col-md-2 d-flex align-center form-group">
                                <button type="button" (click)="copyToClipboard(values[4]??'')" class="btn btn-success"
                                    data-dismiss="modal">Copy</button>
                            </div>
                            <div class="col-12 d-flex flex-row justify-content-center">
                                <button type="button" (click)="onSubmit()" class="btn btn-success btn-save" data-dismiss="modal">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>