<div class="investment-list">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">All Investments Total: {{ currency_style(total) }}</h5>
                        <button type="button" (click)="goToPrev()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="search-panel">
                            <div class="d-flex flex-row form-group">
                                <label class="col-form-label" for="search">Search Text:</label>
                                <input type="text" [(ngModel)]="searchTerm" (keyup)="onSearch($event)"
                                    class="form-control" id="search" aria-describedby="search" />
                            </div>
                            <div>
                                <button type="button" (click)="goForm('', 'form')" class="btn btn-block btn-secondary">New
                                    Investment</button>
                            </div>
                        </div>
                        <div class="div-table">
                            <div class="trow theader lh-1">
                                <div class="tcol" (click)="orderTable('_id')">No</div>
                                <div class="tcol" (click)="orderTable('investAmount')">Amount Invested</div>
                                <div class="tcol" (click)="orderTable('profitMonthly')">Profit Monthly</div>
                                <div class="tcol" (click)="orderTable('profitYearly')">Profit Annual</div>
                                <div class="tcol" (click)="orderTable('investmentEnds')">Investments ends in</div>
                                <div class="tcol" (click)="orderTable('explanation')">Description/Text</div>
                                <div class="tcol">i</div>
                            </div>
                            <div *ngFor="let item of items; let i = index" [class]="{'trow': true, 'first-row': item.investmentEnds< 90}" (click)="goForm(item._id, 'form')">
                                <div class="tcol">{{ item._id }}</div>
                                <div class="tcol">{{ currency_style(item.investAmount) }}</div>
                                <div class="tcol">{{ profit_style(item.profitMonthly) }}</div>
                                <div class="tcol">{{ profit_style(item.profitYearly) }}</div>
                                <div class="tcol">{{ item.investmentEnds + ' Days' }}</div>
                                <div class="tcol">{{ item.explanation }}</div>
                                <div class="tcol">
                                    <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal"
                                        aria-label="Icon Button" (click)="goForm(item._id, 'info')">
                                        <span aria-hidden="true">i</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>