<div class="investment-info">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">Who is in <span>#22</span> Investment at 15,000,000 at 2.5%</h5>
                        <button type="button" (click)="goList()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row base-info">
                            <div class="col-lg-1 form-group">
                                <label for="investment">Investment</label>
                                <input [value]="investmentInfo._id" type="text" class="form-control" id="investment"
                                    aria-describedby="investment" />
                            </div>
                            <div class="col-lg-11 form-group">
                                <label for="description">Explanation</label>
                                <textarea class="form-control" id="description"
                                    aria-describedby="Money Transfer Description" rows="4"
                                    cols="50">{{ investmentInfo.investments?.explanation }}</textarea>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 form-group">
                                <label for="totalAmount">Total Amount</label>
                                <input type="text" class="form-control text-end" id="totalAmount" aria-describedby="totalAmount"
                                    [value]="currency_style(investmentInfo.investments?.investAmount)" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 form-group">
                                <label for="expireIn">Expire in</label>
                                <input [value]="investmentInfo?.investments?.remainingDays + ' days'" type="text" class="form-control" id="expireIn" aria-describedby="expireIn" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 form-group">
                                <label for="investmentType">Investment Type</label>
                                <select [value]="investmentInfo.investments?.investType" class="form-control"
                                    id="investmentType" aria-describedby="investmentType">
                                    <option>Monthly Profit</option>
                                    <option>Annual Profit</option>
                                    <option>One-time Profit</option>
                                    <option>Mixed</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 form-group">
                                <label for="monthlyProfit">Profit pr Month</label>
                                <input type="text" class="form-control text-end" id="monthlyProfit"
                                    aria-describedby="monthlyProfit"
                                    [value]="profit_style(investmentInfo.investments?.profitMonthly)" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 form-group">
                                <label for="annualProfit">Profit pr Year</label>
                                <input type="text" class="form-control text-end" id="annualProfit"
                                    aria-describedby="annualProfit"
                                    [value]="profit_style(investmentInfo.investments?.profitYearly)" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-6 form-group">
                                <label for="endProfit">Profit by End</label>
                                <input type="text" class="form-control text-end" id="endProfit" aria-describedby="endProfit"
                                    [value]="profit_style(investmentInfo.investments?.profitEnd)" />
                            </div>
                        </div>
                        <div class="row made-list">
                            <div class="row section-header">
                                <div class="col-xl-4 d-flex justify-content-xl-start ttitle">
                                    List of Investments Made
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 col-sm-6 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-xl-7 statistics-title">Total Investments</div>
                                                <div class="col-xl-5 statistics-value">{{ sumOfTotalAmountInvested }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-6 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-xl-7 statistics-title">Investments Missing</div>
                                                <div class="col-xl-5 statistics-value">{{ investmentMissing }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex my-2">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                aria-label="Icon Button">NEW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="div-table">
                                        <div class="trow theader">
                                            <div class="tcol">Name</div>
                                            <div class="tcol">Amount Invested</div>
                                            <div class="tcol">Monthly Profit</div>
                                            <div class="tcol">Profit Amount</div>
                                            <div class="tcol">Transfer Date</div>
                                            <div class="tcol">First Profit Date</div>
                                            <div class="tcol">Total Profit</div>
                                        </div>
                                        <div *ngFor="let item of myInvestments; let i = index" class="trow">
                                            <div class="tcol">{{ item.investorName }}</div>
                                            <div class="tcol">{{ item.amountInvested }}</div>
                                            <div class="tcol">{{ item.profitMonthlyPct }}</div>
                                            <div class="tcol">{{ item.transferDate }}</div>
                                            <div class="tcol">{{ item.transferDate }}</div>
                                            <div class="tcol">{{ item.firstProfitDate }}</div>
                                            <div class="tcol">{{ currency_style(item.amount) }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row transfered">
                            <div class="row section-header">
                                <div class="col-xl-4 d-flex justify-content-xl-start ttitle">
                                    Money Transfered To Adam
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-12 col-sm-12 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-xl-7 statistics-title">Total Transfer</div>
                                                <div class="col-xl-5 statistics-value">{{ sumOfTotalAmountAdam }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 col-sm-6 my-1">
                                        </div>
                                        <div class="col-lg-2 d-flex my-2">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                aria-label="Icon Button">NEW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="div-table">
                                        <div class="trow theader">
                                            <div class="tcol">Transfer Date</div>
                                            <div class="tcol">Transfered By</div>
                                            <div class="tcol">Amount Transfered</div>
                                            <div class="tcol">Money From</div>
                                            <div class="tcol">Description</div>
                                        </div>
                                        <div *ngFor="let item of adams; let i = index" class="trow">
                                            <div class="tcol">{{ item.createdDate }}</div>
                                            <div class="tcol">{{ item.transactionFrom }}</div>
                                            <div class="tcol">{{ item.amount }}</div>
                                            <div class="tcol">{{ item.investorName }}</div>
                                            <div class="tcol">{{ item.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row log-entry">
                            <div class="row section-header">
                                <div class="col-xl-8 col-lg-8  col-md-8 d-flex justify-content-md-start ttitle">
                                    Log Entries for this Investment
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 my-1">
                                        </div>
                                        <div class="col-xl-4 col-lg-6 d-flex my-2">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                aria-label="Icon Button">NEW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option *ngFor="let item of logEtries">{{ item.log }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="info-wrapper">
                            <div class="info-col">
                                <span class="info-text">Create Date </span>
                                <span class="info-value">01-Feb-2023</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Create By</span>
                                <span class="info-value">Torben</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update Date</span>
                                <span class="info-value">12-August-2023</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update By</span>
                                <span class="info-value">Bee</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>