<div class="investment-info">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">Who is in <span>#{{ investmentInfo._id }}</span> Investment at {{ title }}</h5>
                        <button type="button" (click)="goToPrev()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="investmentInfoForm" (ngSubmit)="onSubmit()" autocomplete="off"
                            novalidate>
                            <div class="row base-info">
                                <div class="col-lg-1 form-group my-1">
                                    <label for="investment">Investment</label>
                                    <input formControlName="investment" type="text" class="form-control" id="investment"
                                        aria-describedby="investment" readonly/>
                                </div>
                                <div class="col-lg-11 form-group my-1">
                                    <label for="description">Explanation</label>
                                    <textarea formControlName="description" class="form-control" id="description"
                                        aria-describedby="Money Transfer Description" rows="4" cols="50" readonly></textarea>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 form-group my-2">
                                    <label for="totalAmount">Total Amount</label>
                                    <input formControlName="totalAmount" type="text" class="form-control text-end" id="totalAmount"
                                        aria-describedby="totalAmount" readonly/>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 form-group my-2">
                                    <label for="expireIn">Expire in</label>
                                    <input formControlName="expireIn" type="text" class="form-control" id="expireIn" aria-describedby="expireIn" readonly/>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 form-group my-2">
                                    <label for="investmentType">Investment Type</label>
                                    <input formControlName="investmentType" type="text" class="form-control" id="investmentType"
                                        aria-describedby="investmentType" readonly/>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 form-group my-2">
                                    <label for="monthlyProfit">Profit pr Month</label>
                                    <input formControlName="monthlyProfit" type="text" class="form-control text-end" id="monthlyProfit"
                                        aria-describedby="monthlyProfit" readonly/>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 form-group my-2">
                                    <label for="annualProfit">Profit pr Year</label>
                                    <input formControlName="annualProfit" type="text" class="form-control text-end" id="annualProfit"
                                        aria-describedby="annualProfit" readonly/>
                                </div>
                                <div class="col-lg-2 col-md-3 col-sm-6 form-group my-2">
                                    <label for="endProfit">Profit by End</label>
                                    <input formControlName="endProfit" type="text" class="form-control text-end" id="endProfit"
                                        aria-describedby="endProfit" readonly/>
                                </div>
                            </div>
                        </form>
                        <div class="row made-list">
                            <div class="row section-header">
                                <div class="col-xl-4 d-flex justify-content-xl-start ttitle">
                                    List of Investments Made
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-sm-7 statistics-title">Total Investments</div>
                                                <div class="col-sm-5 statistics-value">{{ sumOfTotalAmountInvested }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-6 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-sm-7 statistics-title">Investments Missing</div>
                                                <div class="col-sm-5 statistics-value">{{ investmentMissing }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 d-flex my-2">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                aria-label="Icon Button" (click)="goTo('/my-investment-form')">NEW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="div-table">
                                        <div class="trow theader">
                                            <div class="tcol">Name</div>
                                            <div class="tcol">Amount Invested</div>
                                            <div class="tcol">Monthly Profit</div>
                                            <div class="tcol">Profit Amount</div>
                                            <div class="tcol">Transfer Date</div>
                                            <div class="tcol">First Profit Date</div>
                                        </div>
                                        <div *ngFor="let item of myInvestments; let i = index" class="trow">
                                            <div class="tcol">
                                                <div>
                                                    <span class="name">{{ item.investorName }}</span>
                                                    <div class="button-group">
                                                      <button type="button" (click)="goTo('info/'+ item.investorName)" class="btn btn-secondary" data-dismiss="modal"
                                                        aria-label="Icon Button">
                                                        <span aria-hidden="true">i</span>
                                                      </button>
                                                      <button type="button" (click)="goTo('manage-investor/'+ item.investorName)" class="btn btn-secondary" data-dismiss="modal"
                                                        aria-label="Icon Button">
                                                        <span aria-hidden="true">E</span>
                                                      </button>
                                                      <button type="button" (click)="goTo('portfolio/'+ item.investorName)" class="btn btn-success" data-dismiss="modal"
                                                        aria-label="Icon Button">
                                                        <span aria-hidden="true">P</span>
                                                      </button>
                                                    </div>
                                                  </div>
                                            </div>
                                            <div class="tcol">{{ item.amountInvested }}</div>
                                            <div class="tcol">{{ item.profitMonthlyPct }}</div>
                                            <div class="tcol">{{ item.transferDate }}</div>
                                            <div class="tcol">{{ item.transferDate }}</div>
                                            <div class="tcol">{{ item.firstProfitDate }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row transfered">
                            <div class="row section-header">
                                <div class="col-xl-4 d-flex justify-content-xl-start ttitle">
                                    Money Transfered To Adam
                                </div>
                                <div class="col-xl-8">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-sm-7 statistics-title">Total Transfer</div>
                                                <div class="col-sm-5 statistics-value">{{ sumOfTotalAmountAdam }}</div>
                                            </div>
                                        </div>
                                        <div class="col-lg-5 col-md-5 my-1">
                                        </div>
                                        <div class="col-md-2 d-flex my-2">
                                            <button type="button" (click)="goTo('/adam-form')" class="btn btn-secondary"
                                                data-dismiss="modal" aria-label="Icon Button">NEW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="div-table">
                                        <div class="trow theader">
                                            <div class="tcol">Transfer Date</div>
                                            <div class="tcol">Transfered By</div>
                                            <div class="tcol">Amount Transfered</div>
                                            <div class="tcol">Money From</div>
                                            <div class="tcol">Description</div>
                                        </div>
                                        <div *ngFor="let item of adams; let i = index" class="trow">
                                            <div class="tcol">{{ item.createdDate }}</div>
                                            <div class="tcol">{{ item.transactionFrom }}</div>
                                            <div class="tcol">{{ item.amount }}</div>
                                            <div class="tcol">{{ item.investorName }}</div>
                                            <div class="tcol">{{ item.description }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row log-entry">
                            <div class="row section-header">
                                <div class="col-xl-8 col-lg-8  col-md-8 d-flex justify-content-md-start ttitle">
                                    Log Entries for this Investment
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-4">
                                    <div class="row">
                                        <div class="col-xl-8 col-lg-6 col-md-12 col-sm-12 my-1">
                                        </div>
                                        <div class="col-xl-4 col-lg-6 d-flex my-2">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                                aria-label="Icon Button" (click)="goTo('/log-form')">NEW</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <select class="form-select" multiple aria-label="multiple select example">
                                        <option *ngFor="let item of logEtries">{{ item.log }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>