<div class="investment-form">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title "><span>{{ section }}: </span>{{ title }}</h5>
                        <button (click)="goList()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="investmentForm" (ngSubmit)="onSubmit()" autocomplete="off"
                            novalidate>
                            <div class="row">
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="_id">Investment No.</label>
                                    <input formControlName="_id" type="text" [style.textAlign]="textAlign"
                                        class="form-control" id="_id" (keydown)="onlyNumbers($event)"
                                        aria-describedby="_id" readonly />
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="investAmount">Amount</label>
                                    <input formControlName="investAmount" type="text" class="form-control text-end"
                                        id="investAmount" (input)="onInputChange($event)"
                                        (keydown)="onlyNumbers($event)" aria-describedby="investAmount" />
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="startDate">Start Date</label>
                                    <input formControlName="startDate" type="date" class="form-control" id="startDate"
                                        aria-describedby="startDate" />
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="endDate">End Date</label>
                                    <input formControlName="endDate" type="date" class="form-control" id="endDate"
                                        aria-describedby="endDate" />
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="investType">Investment Type</label>
                                    <select formControlName="investType" (change)="onSelectChange($event)" class="form-control form-select" id="investType"
                                        aria-describedby="investType">
                                        <option>Monthly Profit</option>
                                        <option>Annual Profit</option>
                                        <option>One-time Profit</option>
                                        <option>Mixed</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="(investmentForm.controls['investType'].touched || submitted) && investmentForm.controls['investType'].errors?.['required']">
                                        Investment Type is required.
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="profitMonthly">Profit pr Month</label>
                                    <input formControlName="profitMonthly" type="text" [style.textAlign]="textAlign"
                                        class="form-control" (input)="onInputChange($event)" id="profitMonthly"
                                        aria-describedby="profitMonthly" />
                                    <span class="text-danger"
                                        *ngIf="submitted && (investmentForm.errors?.['monthlyRequired'] || investmentForm.errors?.['anyoneRequired'])">
                                        Profit pr Month is required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(investmentForm.controls['profitMonthly'].touched || submitted) &&(investmentForm.errors?.['monthlyExceed'])">
                                        Profit pr Month cannot be less than 0.01% or greater than 100.00%.
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="profitYearly">Profit pr Year</label>
                                    <input formControlName="profitYearly" type="text" [style.textAlign]="textAlign"
                                        class="form-control form-input" (input)="onInputChange($event)" id="profitYearly"
                                        aria-describedby="profitYearly"/>
                                    <span class="text-danger"
                                        *ngIf="submitted && (investmentForm.errors?.['yearlyRequired'] || investmentForm.errors?.['anyoneRequired'])">
                                        Profit pr Year is required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(investmentForm.controls['profitYearly'].touched || submitted) && (investmentForm.errors?.['yearlyExceed'])">
                                        Profit pr Year cannot be less than 0.01% or greater than 100.00%.
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="profitEnd">Profit by End</label>
                                    <input formControlName="profitEnd" type="text" [style.textAlign]="textAlign"
                                        class="form-control" (input)="onInputChange($event)" id="profitEnd"
                                        aria-describedby="profitEnd" />
                                    <span class="text-danger"
                                        *ngIf="submitted && (investmentForm.errors?.['endRequired'] || investmentForm.errors?.['anyoneRequired'])">
                                        Profit by End is required.
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="(investmentForm.controls['profitEnd'].touched || submitted) && (investmentForm.errors?.['endExceed'])">
                                        Profit by End cannot be less than 0.01% or greater than 100.00%.
                                    </span>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="explanation">Description</label>
                                        <textarea formControlName="explanation" class="form-control" id="explanation"
                                            aria-describedby="Money Transfer explanation" rows="4" cols="50"></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="row d-flex flex-row">
                                <div class="col-lg-8 col-sm-12 form-group choose-image-wrapper">
                                    <label for="attachments">Reciepts</label>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files; let i = index">
                                            <div class="info">
                                                <h4 class="name">
                                                    {{ file?.name }}
                                                </h4>
                                                <p class="size">
                                                    ({{ formatBytes(file?.size) }})
                                                </p>
                                                <!-- <app-progress [progress]="file?.progress"></app-progress> -->
                                            </div>
                                            <div class="delete" (click)="deleteFile(i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                                                    viewBox="0 0 14 18">
                                                    <path fill="#ff0000" fill-rule="nonzero"
                                                        d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="file-wrapper">
                                        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                                            <input formControlName="attachments" type="file" id="attachments" multiple
                                                accept="image/*" (change)="fileBrowseHandler($event.target)">
                                            <span class="caption">Drag and drop files here</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 info d-flex flex-row">
                                    <div class="info-wrapper d-flex flex-column align-center">
                                        <div class="info-col">
                                            <span class="info-text">Create Date </span>
                                            <span class="info-value">{{ createdDate }}</span>
                                        </div>
                                        <div class="info-col">
                                            <span class="info-text">Create By</span>
                                            <span class="info-value">{{ createdBy }}</span>
                                        </div>
                                        <div class="info-col">
                                            <span class="info-text">Update Date</span>
                                            <span class="info-value">{{ modifiedDate }}</span>
                                        </div>
                                        <div class="info-col">
                                            <span class="info-text">Update By</span>
                                            <span class="info-value">{{ modifiedBy }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center m-3 position-relative">
                                <button type="submit" class="btn btn-secondary">SAVE INVESTMENT</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"
                                    [class]="{'disabled': investmentId === undefined}"
                                    (click)="deleteInvestment(investmentId)">DELETE
                                    INVESTMENT</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="info-wrapper">
                            <div class="info-col">
                                <span class="info-text">Create Date </span>
                                <span class="info-value">{{ createdDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Create By</span>
                                <span class="info-value">{{ createdBy }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update Date</span>
                                <span class="info-value">{{ modifiedDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update By</span>
                                <span class="info-value">{{ modifiedBy }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>