<div class="investor-portfolio">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">{{ userId }}</h5>
                        <select class="form-control form-select" id="investments" aria-describedby="investments">
                            <option>THB</option>
                            <option>INR</option>
                            <option>USD</option>
                            <option>CAD</option>
                        </select>
                        <button *ngIf="(auth.user$ | async)?.['investor-system']['roles'].includes('admin') == true"
                            type="button" (click)="goToPrev()" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body pt-4">
                        <div class="row investment">
                            <div class="row section-header">
                                <div class="col-xl-3 d-flex justify-content-xl-start ttitle">
                                    My Investments
                                </div>
                                <div class="col-xl-9">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-6 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-lg-7 col-6 statistics-title">All Investments</div>
                                                <div class="col-lg-5 col-6 statistics-value">{{
                                                    currency_style(investments.all_investment??0) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-6 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-lg-4 col-6 statistics-title">Total Profit Paid</div>
                                                <div class="col-lg-5 col-3  statistics-value">{{
                                                    currency_style(investments.totalProfitPaid??0) }}</div>
                                                <div class="col-lg-3 col-3 statistics-value">{{
                                                    profit_style(investments.totalProfitPaidPct??0) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="div-table">
                                        <div class="trow theader lh-1">
                                            <div class="tcol">Invest Start</div>
                                            <div class="tcol">Invest End</div>
                                            <div class="tcol">Investment</div>
                                            <div class="tcol">Amount</div>
                                            <div class="tcol">Pct</div>
                                            <div class="tcol">Receipts</div>
                                        </div>
                                        <div *ngFor="let item of investments.myInvestmentList; let i = index"
                                            class="trow">
                                            <div class="tcol">{{ formatDate(item.firstProfitDate, 'DD-MMM-YYYY') }}
                                            </div>
                                            <div class="tcol">{{ formatDate(item.firstProfitDate, 'DD-MMM-YYYY') }}
                                            </div>
                                            <div class="tcol d-flex flex-row justify-content-between">[{{
                                                item.investmentNo??'' }}] {{ item.description??'' }}
                                                <i class="bi bi-file-earmark-pdf"></i>
                                            </div>
                                            <div class="tcol">{{ currency_style(item.amountInvested??0) }}</div>
                                            <div class="tcol">{{ profit_style(item.profitMonthlyPct??0) }}</div>
                                            <div class="tcol"><i class="bi bi-image"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row profit-balance">
                            <div class="row section-header">
                                <div class="col-xl-3 d-flex justify-content-xl-start ttitle">
                                    My Profit Balance
                                </div>
                                <div class="col-xl-9">
                                    <div class="row">
                                        <div class="col-md-5 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-7 statistics-title">Current Balance</div>
                                                <div class="col-5 statistics-value">{{
                                                    currency_style(profit_balance.total_balance??0) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 my-1">
                                            <div class="row statistics-panel">
                                                <div class="col-4 statistics-title">Monthly Profit</div>
                                                <div class="col-5 statistics-value">{{
                                                    currency_style(profit_balance.monthlyProfit) }}</div>
                                                <div class="col-3 statistics-value">{{
                                                    profit_style(investments.totalProfitPaidPct) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 mb-4">
                                    <div class="div-table">
                                        <div class="trow theader lh-1">
                                            <div class="tcol">Profit Month</div>
                                            <div class="tcol">Transfer Date</div>
                                            <div class="tcol">Description</div>
                                            <div class="tcol">Profit</div>
                                            <div class="tcol">Withdraw</div>
                                            <div class="tcol">Balance</div>
                                            <div class="tcol">Receipts</div>
                                        </div>
                                        <div *ngFor="let item of profit_balance.investorBalanceList; let i = index"
                                            [ngClass]="{'trow':true,'minus': item?.withdraw<0, 'new': (item?.newInvestment)}"
                                            (click)="goToBalance(item, userId)">
                                            <div class="tcol">{{ formatDate(item.profitMonth, 'MMM-YYYY') }}</div>
                                            <div class="tcol">{{ formatDate(item.transferDate, 'DD-MMM-YYYY') }}</div>
                                            <div class="tcol fw-bold">{{ item.description??'' }}</div>
                                            <div class="tcol">{{ currency_style(item.deposit) }}</div>
                                            <div class="tcol">{{ currency_style(item.withdraw) }}</div>
                                            <div class="tcol">{{ currency_style(item.balanceInThai) }}</div>
                                            <div class="tcol"><i class="bi bi-image"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>