.navbar {
    height: 58px;
    .navbar-nav {
        margin-right: 10px;
        
        cursor: pointer;
    }
    .container-fluid {
        background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
        z-index: 11;
    }
}