<div class="investor-info ">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title "><span>INFO: </span>{{ title }}</h5>
                        <button (click)="goTo('/list/')" type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-4 d-flex flex-column">
                                <div class="col form-group mb-4">
                                    <label for="investor_name">Investor Name</label>
                                    <input type="text" class="form-control"
                                        (dblclick)="copyToClipboard(investor._id?.toString())" id="investor_name"
                                        aria-describedby="Investor Name" [value]="investor._id" readonly />
                                </div>
                                <div class="col form-group mb-4">
                                    <label for="phone">Phone</label>
                                    <input type="text" class="form-control" (dblclick)="copyToClipboard(investor.phone)"
                                        id="phone" aria-describedby="Phone" [value]="investor.phone" readonly />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="col form-group mb-4">
                                    <label for="investorAddress">Address</label>
                                    <textarea class="form-control" id="investorAddress"
                                        (dblclick)="copyToClipboard(investor.address)"
                                        aria-describedby="investor Address" rows="4" cols="50"
                                        readonly>{{ investor.address }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex flex-column">
                                <div class="col form-group mb-4">
                                    <label for="email">Email</label>
                                    <input type="email" (dblclick)="copyToClipboard(investor.email)"
                                        class="form-control" id="email" aria-describedby="Email"
                                        [value]="investor.email" readonly />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4 d-flex flex-column">
                                        <div class="col form-group mb-4">
                                            <label for="zipcode">Zip Code</label>
                                            <input type="zipcode"
                                                (dblclick)="copyToClipboard(investor.postcode?.toString())"
                                                class="form-control" id="zipcode" aria-describedby="Zip Code"
                                                [value]="investor.postcode" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex flex-column">
                                        <div class="col form-group mb-4">
                                            <label for="city">City</label>
                                            <input type="city" class="form-control"
                                                (dblclick)="copyToClipboard(investor.city)" id="city"
                                                aria-describedby="City" [value]="investor.city" readonly />
                                        </div>
                                    </div>
                                    <div class="col-md-4 d-flex flex-column">
                                        <div class="col form-group mb-4">
                                            <label for="country">Country</label>
                                            <input type="country" (dblclick)="copyToClipboard(investor.country)"
                                                class="form-control" id="country" aria-describedby="Country"
                                                [value]="investor.country" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 d-flex flex-column">
                                <div class="col form-group mb-4">
                                    <label for="first_invest">First Investment</label>
                                    <input type="first_invest" (dblclick)="copyToClipboard(data.first_invest)"
                                        class="form-control" id="first_invest" aria-describedby="First Investment"
                                        [value]="data.first_invest" readonly />
                                </div>
                                <div class="col form-group mb-4">
                                    <label for="invest_for">Invest For</label>
                                    <input type="text" (dblclick)="copyToClipboard(data.invest_for)"
                                        class="form-control" id="invest_for" aria-describedby="Invest For"
                                        [value]="data.invest_for" readonly />
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="col form-group mb-4">
                                    <label for="transfer_info">Money Transfer Information</label>
                                    <textarea class="form-control" id="transfer_info"
                                        (dblclick)="copyToClipboard(investor.transferInfo)"
                                        aria-describedby="Money Transfer Information" rows="4" cols="50"
                                        readonly>{{ investor.transferInfo }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 form-group">
                                <label for="mothly_profit">Monthly Profit</label>
                                <input type="text" (dblclick)="copyToClipboard(currency_style(data.monthly_profit))"
                                    class="form-control text-end" id="mothly_profit" aria-describedby="Monthly Profit"
                                    [value]="currency_style(data.monthly_profit)" readonly />
                            </div>
                            <div class="col-md-3 col-sm-6 form-group">
                                <label for="new_pay">Newest Payment</label>
                                <input type="text" (dblclick)="copyToClipboard(data.new_pay)"
                                    class="form-control text-end" id="new_pay" aria-describedby="Newest Payment"
                                    [value]="data.new_pay" readonly />
                            </div>
                            <div class="col-md-3 col-sm-6 form-group">
                                <label for="total_profit">Total Profit</label>
                                <input type="text" (dblclick)="copyToClipboard(currency_style(data.total_profit))" class="form-control text-end" id="total_profit"
                                    aria-describedby="Total Profit" [value]="currency_style(data.total_profit)"
                                    readonly />
                            </div>
                            <div class="col-md-3 col-sm-6 form-group">
                                <label for="total_invest">Total Investment</label>
                                <input type="text" (dblclick)="copyToClipboard(currency_style(data.total_invest))" class="form-control text-end" id="total_invest"
                                    aria-describedby="Total Investment" [value]="currency_style(data.total_invest)"
                                    readonly />
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-sm-4 mb-2">
                                <button type="button" class="btn btn-block btn-secondary">FOLDER</button>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <a href="{{ investor.facebook }}"><button type="button"
                                        class="btn btn-block btn-secondary">FACEBOOK</button></a>
                            </div>
                            <div class="col-sm-4 mb-2">
                                <a href="mailTo:{{ investor.email }}"><button type="button"
                                        class="btn btn-block btn-secondary">EMAIL</button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>