<div class="adam-table">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">Transactions FROM and TO Adam</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="search-panel">
                            <div class="d-flex flex-row form-group">
                                <label class="col-form-label" for="search">Search Text:</label>
                                <input type="text" class="form-control" id="search" aria-describedby="search"
                                    [(ngModel)]="searchTerm" (keyup)="onSearch($event)" placeholder="search..." />
                            </div>
                            <div>
                                <button type="button" (click)="goForm()" class="btn btn-block btn-secondary">New
                                    Transfer</button>
                            </div>
                        </div>
                        <div class="div-table">
                            <div class="trow theader lh-1">
                                <div class="tcol" (click)="orderTable('createdDate')">Transfer Date</div>
                                <div class="tcol" (click)="orderTable('transactionFrom')">Transfer From</div>
                                <div class="tcol" (click)="orderTable('transactionTo')">Transfer To</div>
                                <div class="tcol" (click)="orderTable('amount')">Amount Transfered</div>
                                <div class="tcol" (click)="orderTable('description')">Description / Text</div>
                            </div>
                            <div *ngFor="let item of items"
                                [class]="{'trow': true, 'redirect': item.transactionTo?.toLowerCase().includes('adam')}"
                                (click)="goForm(item._id)">
                                <div class="tcol">{{ item.createdDate }}</div>
                                <div class="tcol">{{ item.transactionFrom }}</div>
                                <div class="tcol">{{ item.transactionTo }}</div>
                                <div class="tcol">{{ item.amount }}</div>
                                <div class="tcol">{{ item.description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>