<div class="adam-table">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title ">Transactions FROM and TO Adam</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="search-panel">
                            <div class="d-flex flex-row form-group">
                                <label class="col-form-label" for="search">Search Text:</label>
                                <input type="text" class="form-control" id="searcg" aria-describedby="search" />
                            </div>
                            <div>
                                <button type="button" class="btn btn-block btn-secondary">New Transfer</button>
                            </div>
                        </div>
                        <div class="div-table">
                            <div class="trow theader">
                                <div class="tcol">Transfer Date</div>
                                <div class="tcol">Transfer From</div>
                                <div class="tcol">Transfer To</div>
                                <div class="tcol">Amount Transfered</div>
                                <div class="tcol">Description / Text</div>
                            </div>
                            <div *ngFor="let item of items" [class]="{'trow': true, 'redirect': item.t_direction}">
                                <div class="tcol">{{ item.t_date }}</div>
                                <div class="tcol">{{ item.t_from }}</div>
                                <div class="tcol">{{ item.t_to }}</div>
                                <div class="tcol">{{ currency_style(item.t_amount) }}</div>
                                <div class="tcol">{{ item.t_description }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>