<div class="adam-form">
    <div class="container">
        <div class="modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title "><span>{{ section }}: </span>{{ title }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="goToPrev()">
                            <span aria-hidden="true">x</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="form" [formGroup]="adamForm" (ngSubmit)="onSubmit()" autocomplete="off" novalidate>
                            <div class="row">
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="amount">Amount</label>
                                    <input formControlName="amount" type="text" class="form-control text-end"
                                        id="amount" (input)="onInputChange($event)" (keydown)="onlyNumbers($event)"
                                        aria-describedby="amount" />
                                    <span class="text-danger"
                                        *ngIf="(adamForm.controls['amount'].touched || submitted) && adamForm.controls['amount'].errors?.['required']">
                                        Amount is required
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="transactionFrom">From</label>
                                    <select formControlName="transactionFrom" class="form-control form-select" id="transactionFrom"
                                        #transactionFrom aria-describedby="Money Transfer" (change)="checkSelect()">
                                        <option value="Adam" [hidden]="to_value=='Adam'?true:null">FROM Adam</option>
                                        <option value="Torben" [hidden]="to_value=='Torben'?true:null">FROM Torben
                                        </option>
                                        <option value="Bee" [hidden]="to_value=='Bee'?true:null">FROM Bee</option>
                                        <option value="Other" [hidden]="to_value=='Other'?true:null">FROM Other</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="(adamForm.controls['transactionFrom'].touched || submitted) && adamForm.controls['transactionFrom'].errors?.['required']">
                                        From is required
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="transactionTo">To</label>
                                    <select formControlName="transactionTo" class="form-control form-select" id="transactionTo"
                                        #transactionTo aria-describedby="Money Transfer" (change)="checkSelect()">
                                        <option value="Adam" [hidden]="from_value=='Adam'?true:null">TO Adam</option>
                                        <option value="Torben" [hidden]="from_value=='Torben'?true:null">TO Torben
                                        </option>
                                        <option value="Bee" [hidden]="from_value=='Bee'?true:null">TO Bee</option>
                                        <option value="Other" [hidden]="from_value=='Other'?true:null">TO Other</option>
                                    </select>
                                    <span class="text-danger"
                                        *ngIf="(adamForm.controls['transactionTo'].touched || submitted) && adamForm.controls['transactionTo'].errors?.['required']">
                                        To is required
                                    </span>
                                </div>
                                <div class="col-lg-4 col-xl-3 col-md-6 form-group">
                                    <label for="createdDate">Transfer Date</label>
                                    <app-date-time-picker formControlName="createdDate" name="createdDate"></app-date-time-picker>   
                                    <span class="text-danger"
                                        *ngIf="(adamForm.controls['createdDate'].touched || submitted) && adamForm.controls['createdDate'].errors?.['required']">
                                        Transfer Date is required
                                    </span>
                                </div>
                                <div class="col-xl-6 col-lg-4 form-group">
                                    <label for="investments">Investment</label>
                                    <select formControlName="investments" class="form-control form-select" id="investments"
                                        aria-describedby="investments">
                                        <option [value]="item._id" *ngFor="let item of investments">{{ item._id + ' ' +
                                            item.explanation }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-xl-6 col-lg-4 form-group">
                                    <label for="investorName">Investor Name</label>
                                    <select formControlName="investorName" class="form-control form-select" id="investorName"
                                        aria-describedby="investorName">
                                        <option [value]="item._id" *ngFor="let item of investorsNames">{{ item._id}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="row">
                                <div class="col-md-6 d-flex flex-column justify-content-between">
                                    <div class="form-group">
                                        <label for="transferFrom">Transfer From Account</label>
                                        <input formControlName="transferFrom" type="text" class="form-control"
                                            id="transferFrom" aria-describedby="Transfer From" />
                                    </div>
                                    <div class="form-group">
                                        <label for="transferTo">Transfer To Account</label>
                                        <input formControlName="transferTo" type="text" class="form-control"
                                            id="transferTo" aria-describedby="Transfer To" />
                                    </div>
                                    <div class="form-group">
                                        <label for="transactionNo">Transfer Number</label>
                                        <input formControlName="transactionNo" type="text" class="form-control"
                                            id="transactionNo" aria-describedby="Transfer No" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea formControlName="description" class="form-control" id="description"
                                            aria-describedby="Money Transfer Description" rows="4" cols="50"></textarea>
                                    </div>
                                </div>
                            </div>
                            <hr class="separator">
                            <div class="row d-flex flex-row">
                                <div class="col-lg-8 col-sm-12 form-group choose-image-wrapper">
                                    <label for="attachments">Reciepts</label>
                                    <div class="files-list">
                                        <div class="single-file" *ngFor="let file of files; let i = index">
                                            <div class="info">
                                                <h4 class="name">
                                                    {{ file?.name }}
                                                </h4>
                                                <p class="size">
                                                    ({{ formatBytes(file?.size) }})
                                                </p>
                                                <!-- <app-progress [progress]="file?.progress"></app-progress> -->
                                            </div>
                                            <div class="delete" (click)="deleteFile(i)">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="18"
                                                    viewBox="0 0 14 18">
                                                    <path fill="#ff0000" fill-rule="nonzero"
                                                        d="M1 16c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2H3c-1.1 0-2 .9-2 2v10zm3.17-7.83a.996.996 0 0 1 1.41 0L7 9.59l1.42-1.42a.996.996 0 1 1 1.41 1.41L8.41 11l1.42 1.42a.996.996 0 1 1-1.41 1.41L7 12.41l-1.42 1.42a.996.996 0 1 1-1.41-1.41L5.59 11 4.17 9.58a.996.996 0 0 1 0-1.41zM10.5 1L9.79.29C9.61.11 9.35 0 9.09 0H4.91c-.26 0-.52.11-.7.29L3.5 1H1c-.55 0-1 .45-1 1s.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1h-2.5z" />
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="file-wrapper">
                                        <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                                            <input formControlName="attachments" type="file" id="attachments" multiple
                                                accept="image/*" (change)="fileBrowseHandler($event.target)">
                                            <span class="caption">Drag and drop files here</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 info d-flex flex-row">
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center m-3 position-relative">
                                <button type="submit" class="btn btn-secondary">SAVE ADAM
                                    TRANSACTION</button>
                                <button type="button" class="btn btn-danger"
                                    [class]="{'disabled': userId === undefined}" data-dismiss="modal"
                                    (click)="deleteTransaction(userId)">DELETE
                                    TRANSACTION</button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="info-wrapper">
                            <div class="info-col">
                                <span class="info-text">Create Date </span>
                                <span class="info-value">{{ createdDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Create By</span>
                                <span class="info-value">{{ createdBy }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update Date</span>
                                <span class="info-value">{{ modifiedDate }}</span>
                            </div>
                            <div class="info-col">
                                <span class="info-text">Update By</span>
                                <span class="info-value">{{ modifiedBy }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>