<div class="list-investor ">
  <div class="container">
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">INVESTORS</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="search-panel">
              <div class="d-flex flex-row form-group">
                <label class="col-form-label" for="search">Search Investor:</label>
                <input type="text" class="form-control" id="searcg" aria-describedby="search" />
              </div>
              <div>
                <button type="button" *ngIf="(auth.user$ | async)?.['investor-system']['roles'].includes('admin') == true" 
                  class="btn btn-block btn-secondary" (click)="addNewInvestor()">New Investor</button>
              </div>
            </div>
            <div class="div-table">
              <div class="trow theader">
                <div class="tcol">Investor Name</div>
                <div class="tcol">Amount Invested</div>
                <div class="tcol">Monthly Profit</div>
                <div class="tcol">Transfer Type</div>
                <div class="tcol">Next Profit</div>
                <div class="tcol">Email</div>
                <div class="tcol">Facebook</div>
                <div class="tcol">Folder</div>
              </div>
              <div class="trow" *ngFor="let item of items">
                <div class="tcol">
                  <div>
                    <span class="name">{{ item.name }}</span>
                    <div class="button-group">
                      <button type="button" class="btn btn-secondary mr-1" data-dismiss="modal"
                        aria-label="Icon Button">
                        <span aria-hidden="true">i</span>
                      </button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Icon Button">
                        <span aria-hidden="true">E</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tcol">{{ currency_style(item.amount) }}</div>
                <div class="tcol">{{ currency_style(item.profit) }}</div>
                <div class="tcol">{{ item.transfer_type }}</div>
                <div class="tcol"><app-profit-button [profitStyle]="item.profitStyle">{{ item.next_profit
                    }}</app-profit-button>
                </div>
                <div class="tcol"><a [href]="'mailTo:'+item.email">{{ item.email }}</a></div>
                <div class="tcol"><a [href]="item.facebook">Facebook</a></div>
                <div class="tcol"><a [href]="item.folder">FOLDER</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>