<div class="list-investor ">
  <div class="container">
    <div class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title ">INVESTORS</h5>
            <button type="button" (click)="goFront()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="search-panel">
              <div class="d-flex flex-row form-group">
                <label class="col-form-label" for="search">Search Investor:</label>
                <input type="text" [(ngModel)]="searchTerm" (keyup)="onSearch($event)"  class="form-control" id="search" aria-describedby="search" />
              </div>
              <div>
                <!-- <button type="button" *ngIf="(auth.user$ | async)?.['investor-system']['roles'].includes('admin') == true" 
                  class="btn btn-block btn-secondary" (click)="addNewInvestor()">New Investor</button> -->
                <button type="button" class="btn btn-block btn-secondary" (click)="addNewInvestor()">New
                  Investor</button>
              </div>
            </div>
            <div class="div-table">
              <div class="trow theader lh-1">
                <div class="tcol" (click)="orderTable('name')">Investor Name</div>
                <div class="tcol" (click)="orderTable('amount')">Amount Invested</div>
                <div class="tcol" (click)="orderTable('profit')">Monthly Profit</div>
                <div class="tcol" (click)="orderTable('transferType')">Transfer Type</div>
                <div class="tcol" (click)="orderTable('next_profit')">Next Profit</div>
                <div class="tcol" (click)="orderTable('email')">Email</div>
                <div class="tcol">Facebook</div>
                <div class="tcol">Folder</div>
              </div>
              <div class="trow" *ngFor="let item of items">
                <div class="tcol">
                  <div>
                    <span class="name">{{ item._id }}</span>
                    <div class="button-group">
                      <button type="button" (click)="goInfo(item._id)" class="btn btn-secondary mr-1" data-dismiss="modal"
                        aria-label="Icon Button">
                        <span aria-hidden="true">i</span>
                      </button>
                      <button type="button" (click)="goForm(item._id)" class="btn btn-secondary" data-dismiss="modal" aria-label="Icon Button">
                        <span aria-hidden="true">E</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="tcol">{{ currency_style(item.amount) }}</div>
                <div class="tcol">{{ currency_style(item.profit) }}</div>
                <div class="tcol">{{ item.transferType }}</div>
                <div class="tcol"><app-profit-button [profitStyle]="'green'">{{ item.next_profit
                    }}</app-profit-button>
                </div>
                <div class="tcol"><a [href]="'mailTo:'+item.email">{{ item.email }}</a></div>
                <div class="tcol"><a target="_blank" [href]="item.facebook">Facebook</a></div>
                <div class="tcol"><a target="_blank" href="https://drive.google.com/drive/folders/{{item.investorFolderId}}">FOLDER</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>