.list-investor {
    background-color: white;
}

select.form-control {
    padding: 0.375rem 0.3rem;
    color: black;
    border-radius: 0;
    width: 98%;
    float: right;
}

textarea.form-control {
    padding: 0.375rem 0.3rem;
    color: black;
    border-radius: 0;
    float: right;
}

.form-control:focus {
    border-color: rgb(31, 78, 120);
    color: black;
    box-shadow: 0 0 0 0.2rem rgba(31, 78, 120, 0.25);
}

.container .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;

    .modal-content {
        border-radius: 0;
        background-color: #E8F0FA;
    }

    .modal-header {
        padding: 0.25rem 0.25rem;
        background-color: rgb(31, 78, 120);
        border-radius: 0;
        position: relative;

        h5 {
            width: 100%;
            text-align: center;
            color: white;
            font-weight: bold;
        }

        .close {
            position: absolute;
            right: 6px;
            font-style: italic;
            text-shadow: none;
            opacity: 1;
            padding: 0;
            border-radius: 0.25rem;
            border: none;

            span {
                background-color: #AAAAAA;
                color: white;
                font-weight: lighter;
                border-radius: 0.25rem;
                display: block;
                width: 29px;
                height: 29px;
                text-align: center;
                box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
            }
        }
    }

    .modal-dialog {
        max-width: 1440px;
    }

    .modal-body {
        padding: 0.5rem 25px 0.5rem 25px;
        background-color: #E8F0FA;
    }
}

.btn-secondary {
    height: calc(1.5em + 0.75rem + 2px);
    background-color: rgb(31, 78, 120);
    padding: 6px 24px;
    font-weight: bold;
    font-size: 1.25rem;
    box-shadow: 5px 5px 4px rgba(31, 78, 120, 0.4);

    &:hover {
        background-color: rgb(25, 61, 92);
    }
}

.search-panel {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .form-group {
        padding-bottom: 0;
        margin-bottom: 2rem;
    }

    .form-control {
        width: auto;
        margin-left: 0.5rem;
        border-radius: 0;
        height: calc(1.5em + 0.75rem + 2px);
        ;
    }
}

.form-group label {
    color: rgb(3, 0, 145);
}

.div-table {
    --bs-table-bg: none;
    border-collapse: collapse;
    border-spacing: 2px;
    overflow-x: auto;

    .trow {
        display: table-row;
        border: 1px solid rgba(0, 0, 0, 0.7);
        background-color: white;

        .tcol {
            display: table-cell;
            vertical-align: middle;
            padding: 10px 8px;
            border: 1px solid rgba(0, 0, 0, 0.7);
            text-align: center;
            font-size: 11pt;

            &:nth-child(1) {
                text-align: start;

                div {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
        
                span {
                    width: auto;
                }
        
                button:nth-child(1) {
                    margin-right: 10px;
                }
            }

            &:nth-child(2) {
                text-align: right;
            }
        
            &:nth-child(3) {
                text-align: right;
            }
        
            &:nth-child(4) {
                text-align: left;
            }
        
            &:nth-child(5) {
                text-align: center;
                vertical-align: middle;
                padding: 8px 4px;
        
                button {
                    font-size: 11pt;
                }
            }
        
            &:nth-child(6) {
                text-align: left;
                color: rgb(32, 32, 255);
                text-decoration: underline;
        
                a {
                    color: rgb(32, 32, 255);
                }
        
                a:active {
                    color: rgb(32, 32, 255);
                }
        
                a:focuse {
                    color: rgb(32, 32, 255);
                }
            }
        
            &:nth-child(7) {
                text-align: center;
                color: rgb(32, 32, 255);
                font-weight: bold;
                text-decoration: underline;
        
                a {
                    color: rgb(32, 32, 255);
                }
        
                a:active {
                    color: rgb(32, 32, 255);
                }
        
                a:focuse {
                    color: rgb(32, 32, 255);
                }
            }
        
            &:nth-child(8) {
                text-align: center;
                color: rgb(32, 32, 255);
                font-weight: bold;
                text-decoration: underline;
        
                a {
                    color: rgb(32, 32, 255);
                }
        
                a:active {
                    color: rgb(32, 32, 255);
                }
        
                a:focuse {
                    color: rgb(32, 32, 255);
                }
            }
        }

        &.theader {
            background-color: rgb(31, 78, 120);
            text-align: center;
            color: white;
            height: 40px;
            font-weight: bold;

            .tcol {
                &:nth-child(1) {
                    width: 26%;
                }

                &:nth-child(2) {
                    width: 10.5%;
                }

                &:nth-child(3) {
                    width: 8.7%;
                }

                &:nth-child(4) {
                    width: 11.3%;
                }

                &:nth-child(5) {
                    width: 10.7%;
                }

                &:nth-child(6) {
                    width: 18.6%;
                    color: white;
                    text-decoration: none;
                }

                &:nth-child(7) {
                    width: 7.1%;
                    color: white;
                    text-decoration: none;
                }

                &:nth-child(8) {
                    width: 7.1%;
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }

    .button-group {
        display: flex;
        flex-direction: row;
        float: right;

        .btn-secondary {
            font-size: 1rem;
            font-style: italic;
            font-weight: normal;
            padding: 0;
            border-radius: 0.25rem;
            width: 29px;
            height: 29px;
        }

        .btn-secondary span {
            background-color: rgb(31, 78, 120);
            color: white;
            font-weight: bold;
            border-radius: 0.25rem;
            display: block;
            width: 29px;
            height: 29px;
            text-align: center;
            box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.4);
            line-height: 29px;
        }
    }
}

@media (max-width: 768px) {
    .search-panel {
        display: block;
        margin-bottom: 1rem;
    }

    .form-group {
        flex-direction: column !important;
        justify-content: center;
    }

    .form-control {
        width: 100%;
        margin: 0 !important;
    }

    .btn-secondary {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .search-panel {
        display: block;
        margin-bottom: 1rem;
    }

    .form-group {
        flex-direction: column !important;
        justify-content: center;
    }

    .form-control {
        width: 100%;
        margin: 0 !important;
    }

    .btn-secondary {
        width: 100%;
    }
}